main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 40px;
}

.main-wrapper {
  background-image: url(https://www.nhaschools.com/getmedia/14de8afc-7a74-4b76-8260-1a0243848f4c/nha-schoolhome-1-mobile.jpg?width=992&height=425&ext=.jpg);
  height: 250px;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu-text {
  text-transform: uppercase;
  font-size: 0.55rem;
}
.mobile-right-nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#logo {
  height: 40px;
}

#hamburger {
  font-size: 1.8rem;
  width: 100%;
}

main > div {
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  width: fit-content;
  padding: 10px 20px;
  color: gray;
  font-weight: bold;
}

.navy-wrapper {
  background-color: rgb(19, 54, 96);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.green-hr {
  border: none;
  height: 3px;
  background-color: rgb(132, 180, 54);
  width: 40px;
}

.find-a-school-text {
  color: white;
  text-align: center;
}

.state-select {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
}

.state-select-desktop {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  width: 200px;
}

::placeholder {
  color: white;
  opacity: 1;
}

.white-hr {
  border: none;
  height: 2px;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}
.or-text {
  left: 50%;
  margin-left: -20px;
  color: white;
  position: absolute;
  background-color: rgb(19, 54, 96);
  padding-left: 5px;
  padding-right: 5px;
}

.navy-wrapper-desktop {
  display: none;
}

@media screen and (min-width: 1000px) {
  .main-wrapper {
    height: 500px;
  }

  .navy-wrapper-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  }
  .navy-wrapper-outer {
    background-color: rgb(19, 54, 96);
    padding: 10px;
  }

  main {
    width: 1000px;
    margin: 0 auto;
    font-size: 1.6rem;
  }

  .navy-wrapper {
    display: none;
  }
}
